{% load mytags %}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
	crossorigin="anonymous">
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" 
	crossorigin="anonymous">
	
	
	<link href="{% mystatic 'css/base.css' %}" rel="stylesheet">
	
	
	 <title>Weather Report</title>
</head>
<body ng-app="baseApp">
	
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Data visualiser</a>
	    </div>
	    
	  </div>
	</nav>


	<div class="container">
		<h1>Weather data visualiser</h1>
		
		{% if data_available %}
			<div ng-controller="baseCtrl">
				Select region : 
					<select>
						<option value="England">England</option>
						<option value="UK">UK</option>
						<option value="Scotland">Scotland</option>
						<option value="Wales">Wales</option>
					</select>
					
				  <div id="chart_div"></div>
			</div>
		
		{% else %}
		
			{% if in_prog %}
				<p>
					Data Fetch is in progress. Please refresh this page in a couple of minutes. 
				</p>
			{% else %}
				<p>No data available. Click below to fetch data.
					<form method="post" action="">
					{% csrf_token %}
					<input type="submit" value="Fetch data">
					</form> 
				</p>
			{% endif %}
		
		{% endif %}
		
		
	</div>
	
	<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
	crossorigin="anonymous"></script>
	
	<script src="/static/js/angular.min.js"></script>
  	
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="{% mystatic 'js/base.js' %}"></script>
     
</body>
</html>